@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  #Question::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  #Question::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  #Question::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  #Question::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }

  #Answer::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  #Answer::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #E4F4F2;
  }

  #Answer::-webkit-scrollbar-thumb {
    background: #CCCCFF;
    border-radius: 100vh;
    /* border: 3px solid #CCCCFF; */
  }

  #Answer::-webkit-scrollbar-thumb:hover {
    background: #CC99FF;
  }
}


#Question {
  padding: 0.5px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#Answer {
  padding: 0.5px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

#gridQ {
  grid-template-columns: 1fr 24fr 12fr;
}

#gridA {
  grid-template-columns: 1fr 36fr;
}

#answerImage {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

body {
  background: url("https://media.istockphoto.com/photos/background-brick-wall-painted-white-picture-id183387282?b=1&k=20&m=183387282&s=170667a&w=0&h=wW5V6eGGyb3WpzuL37w3j3dxS0FC-M0bWfujSCAD5eI=");
  background-attachment: fixed;

 /* background-position: center;  Center the image */
  /*background-repeat: no-repeat;  Do not repeat the image */
  /*background-size: ;  Resize the background image to cover the entire contain */
}

#cardDiv {
  background: rgb(223, 223, 223);
  border-style: dashed;
 /*  border-image: url("https://img.freepik.com/free-photo/bleached-wood-textured-design-background_53876-150052.jpg?w=2000"); */
}

#QA {
  background: rgb(223, 223, 223);
}

#inputSearch {
  background: rgb(223, 223, 223);
}